header{
  width: 100%;
}

h1{
  display: inline-block;
  width: 65%;
}

nav{
  display: inline-block;
  width: 30%;
  max-width: auto;
}

nav a{

}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teacher{
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}

.t-descrip{
  border: .5px solid black;
  width: 100%;
  padding: 10%;
}

.t-courses{
  border: .5px solid black;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}

.t-rating{
  border: .5px solid black;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}
