header{
  width: 100%;
  border-top: 1px solid;
  border-bottom: 3px solid;
}

h1{
  display: inline-block;
  padding-left: 10px;
  width: 65%;
}

h3{
  text-align: center;
  font-size: 1em;
}

nav{
  display: inline-block;
  width: 30%;
  max-width: auto;
}

span{
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

nav a{
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
}

nav a:active{
  color: aqua;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teacher{
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: seashell;
}

.t-descrip{
  display: flex;
  border: .5px solid black;
  width: 100%;
  padding: 5%;
}

.t-descrip img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-right: 7%;
}

.t-descrip div{
  width: 100%
  padding-left: 5%;
  padding-top: 10%;
}

.t-courses{
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}

.t-rating{
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}

.student{
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: seashell;
}

.courses{
  display: flex;
  width: 35%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: seashell;
  border: .5px solid black;
}

.courses h3{
  text-align: justify;
  font-size: 1em;
  margin: 5px;
}

.c-name{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.c-info{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  text-align: right;
  width: 70%;
}

.s-detail-1{
  border: .5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.s-detail-2{
  border: .5px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.s-detail-2 h3{
  font-size: 1em;
  padding-left: 10px;
}

.s-detail-1 img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 4%;
}
